@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@{
    ViewData["Title"] = localizer["AboutUsTitle"];

}
<div class="content-color"><h1>@ViewData["Title"]</h1></div>
<div class="about-us-bg">
        <div class="container about-us">
            @localizer["AboutUsContent"]
        </div>
    </div>