@using lab1_pws.Services.Models
@model IEnumerable<lab1_pws.Services.Models.FileModel>
@{
    ViewData["Title"] = "Безкоштовна хмара";
}
<div class="content-color"><h1>@ViewData["Title"]</h1></div>
<br />
<div class="container">
    <div>
        <form method="post" action="~/upload-file" enctype="multipart/form-data">
        
            <div class="mb-3">
                <label for="fileInput" class="form-label">Завантажити новий файл</label>
                <input type="file" class="form-control" id="fileInput" aria-describedby="emailHelp" name="File">
                
            </div>
             <button type="submit" class="btn btn-primary">Відправити</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Назва файлу</th>
                <th scope="col">Завантажити</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (FileModel fm in Model)
            {

                <tr>
                    <td>@(i+1)</td>
                    <td>@fm.FileName</td>
                    <td><a href="~/download-file?filename=@fm.FileName">Завантажити</a></td>
                </tr>

                i++;
            }
        </tbody>
    </table>
</div>

